# Java
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/
mvnw
mvnw.cmd

# .NET
bin/
obj/
*.user
*.suo

# Python
__pycache__/
*.pyc
.venv/

# IDE
.idea/
.vscode/
*.iml
*.swp

# Docker
.env

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
!terraform/terraform.tfvars.example

# OS
.DS_Store
Thumbs.db
